<!DOCTYPE html>
<html>
    <head>
      <!-- <link rel="icon" href="data:;base64,="> -->
      <link rel="stylesheet" href="{{url_for( 'static', filename = 'style.css')}}">

      {% if title %}
      <title>markdowner: {{ title }}</title>
      {% else %}
      <title>markdowner</title>
      {% endif %}
    </head>
    <body>
        <div class="content">
          <div class="row header"><div id="left">markdowner: <a href="{{ url_for('index') }}">root</a> | <a href="{{ url_for('upload') }}">upload</a> {% if fetch %} | <a href="{{url_for('rawFetch', pasteID = pasteID)}}">raw</a>{% endif %}</div><div id="right"> {% if fetch %}by: {{ user }} | uploaded at: {{ timestamp.strftime("%d/%m/%Y %H:%M:%S") }}{% else %}<a>login</a>{% endif %}</div> 
          </div><hr>
          {% block content %}{% endblock %}
          <div class="row footer"></div>
        </div>
    </body>
</html>