<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="icon" href="data:;base64,="> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->

    <script src="{{url_for('static', filename = 'jquery-3.4.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'popper.min.js')}}"></script>

    <script src="{{url_for('static', filename = 'bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap-reboot.min.css')}}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" src="{{url_for('static', filename = 'bootstrap-reboot.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'custom.css')}}">

    {% if title %}
      <title>markdowner: {{ title }}</title>
    {% else %}
      <title>markdowner</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}">
  </head>
  <body class="py-10">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
          <a class="navbar-brand" href="/">markdowner</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="navbar-collapse collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('upload') }}">upload</a>
              </li>
              {% if session.get("authenticated") %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('list_pastes') }}">list</a>
              </li>
              {% endif %}

              {% if fetch %}
              {% if request.path == url_for('meta', pasteID = paste['pasteID']) %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="{{url_for('meta', pasteID = paste['pasteID'])}}">meta</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('rawFetch', pasteID = paste['pasteID'])}}">raw</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('sourceFetch', pasteID = paste['pasteID'])}}">source</a>
              </li>
              {% endif %}
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->

            {% if not session.get("authenticated") %}
            <a class="btn btn-secondary" role="button" href="{{ url_for('login')}}">login</a>
            {% else %}
            <a class="btn btn-secondary" role="button" href="{{ url_for('logout')}}">logout</a>
            {% endif %}
          </div>
        </nav>
      </header>

      <div class="top container">
        {% block content %}{% endblock %}
      </div>
  </body>
</html>