{% extends "header.html" %}

{% block content %}
    <!-- <div class="row title"> -->
        <h1>markdowner</h1>
    <!-- </div> -->
    <!-- <div class="row data"> -->
        <p>a pastebin for markdown that renders it into html fragments.</p>

        <h3>uploading</h3>
        <ul>
            <li>you can upload through the web interface, linked in the header</li>
            <li>cURL can also be used, for example "<code>curl -H "Content-Type: text/markdown" -X POST --data-binary '@test-file.md' {{ url_for('upload', _external=True) }}</code>". it is is important to use "<code>--data-binary</code>", as otherwise newlines will be mangled.</li>
        </ul>
        <h3>downloading</h3>
        <ul>
            <li>if you wish to get the raw data without the header, or without the dodgy CSS, you can access it at <a>{{ url_for('rawFetch', pasteID = "fakeID",_external=True) }}</a></li>
            <li>this is useful if you want to download the rendered HTML with cURL, as in "<code>curl <a>{{ url_for('rawFetch', pasteID = "fakeID",_external=True) }}</a> > file.html</code>" </li>
        </ul>
        <h3>notes</h3>
        <ul>
            <li>this uses the "python-markdown" module to handle the rendering, so don't get annoyed at me when it doesn't work</li>
            <li>in some sort of attempt to prevent XSS, all html in the markdown is escaped before it is rendered - sorry if you need that</li>
        </ul>
    <!-- </div> -->
{% endblock %}