{% extends "header.html" %}

{% block content %}
<!-- <div class="row title"> -->
    <h1>your pastes</h1>
<!-- </div> -->
<div class="row data">
    {% if user_pastes %}
    <table class="table">
        <tr>
        <td class="c1">index</td>
        <td class="c2">creation time</td>
        {% if user["username"] == "root" %}
            <td class="c3">user</td>
        {% endif %}
        <td class="c4">link</td>
        <td class="c5">size</td>
    </tr>
    {% for paste in user_pastes %}
    <tr>
        <td class="c1">{{ loop.index }}</td>
        <td class="c2">{{ paste["timestamp"].strftime("%d/%m/%Y %H:%M:%S") }}</td>
        {% if user["username"] == "root" %}
            <td class="c3">{{ paste["username"] }}</td>
        {% endif %}
        <td class="c4"><a style="font-family: monospace" href="{{ url_for('fetch', pasteID = paste['pasteID']) }}"> {{ paste['pasteID'] }}</a></td>
        <td class="c5">{{ paste["length"] }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <p>you don't have any pastes yet</p>
    {% endif %}
    </table>
</div>
{% endblock %}