{% extends "header.html" %}

{% block content %}
    <div class="row title"><h1>login</h1></div>
    <div class="row data">
        {% if request.args["error"] %}
            <p class=error><strong>Error:</strong> {{ request.args["error"] }}
        {% endif %}
        {% if request.args["message"] %}
            <p class=message><strong>Message:</strong> {{ request.args["message"] }}
        {% endif %}
        <!-- <p>user: {{ session["username"] }}</p>
        <p>password: {{ session["password"] }}</p> -->
        <form name="login" action="{{ url_for('login') }}" method = "POST">
            <p>username: <input type="text" name="username"></p>
            <p>password: <input type="password" name="password"></p>
            <p><input type="submit" value=login></p>
        </form>

        <h1>signup</h1>
        <form name="signup" action="{{ url_for('signup') }}" method = "POST">
            <p>username: <input type="text" name="username"></p>
            <p>password: <input type="password" name="password"></p>
            <p><input type="submit" value=signup></p>
        </form>
    </div>
{% endblock %}