{% extends "header.html" %}

{% block content %}
    <div class="stuff idk">
        <div class="card mb-3">
            <h3 class="card-header">paste info</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">user: {{ paste["username"] }}</li>
              <li class="list-group-item">length: {{ paste["length"] }}</li>
            </ul>
            <div class="card-footer text-muted">
                creation time: {{ paste["timestamp"].strftime("%d/%m/%Y %H:%M:%S") }}
            </div>
          </div>

          <div class="card mb-3">
            <h3 class="card-header">user info</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">name: {{ user["username"] }}</li>
            </ul>
            <div class="card-footer text-muted">
              creation time: {{ user["creation"].strftime("%d/%m/%Y %H:%M:%S") }}
            </div>
          </div>
    </div>
{% endblock %}